.create-blog-container {
    margin-top: 2em;
    margin-bottom: 2em;
    
    
  }
  .create-blog-box {
    
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  